extends layout

block content
    link(rel="stylesheet", href="/stylesheets/infopage.css")
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container")
            div(class="navbar-header")
                button(type="button", class="navbar-toggle collapsed", data-toggle="collapse", data-target="#navbar", aria-expanded="false", aria-controls="navbar")
                span(class="sr-only") Toggle navigation
                span(class="icon-bar")
                span(class="icon-bar")
                span(class="icon-bar")
                a(class="navbar-brand", href="/") SteamWatch
            div(id="navbar", class="navbar-collapse collapse")
                ul(class="nav navbar-nav")
                    li
                        a(href="/") Home
                    li(class="active")
                        a(href="/download") Download
                    li
                        a(href="/faq") FAQ
                    li
                        a(href="/about") About
    div(class="container")
        h1 Download